<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styling.css">
    <title>Luzifer - Side by Side</title>
</head>
<body>
<header>
    <h1>Luzifer - Side by Side</h1>
    <p>
      Luzifer is a comic by MoringMark. Find him at (
      <a href="https://bsky.app/profile/moringmark.bsky.social">BlueSky</a>,
      <a href="https://www.instagram.com/moringmarkugh/">Instagram</a>,
      <a href="https://www.reddit.com/user/makmark/">Reddit</a> and
      <a href="https://moringmark.tumblr.com">Tumblr</a>
      ).
    </p>
    <section id="toc">
        <h2>Table of Contents</h2>
        <ol>
            {% for comic in luzifer.comics %}
            <li><a href="#{{comic.id}}">{{comic.name}}</a></li>
            {% endfor %}
            <li id="toc-end-item"><a href="#footer">Further Information</a></li>
        </ol>
    </section>
</header>
{% for comic in luzifer.comics %}
<article>
  <details>
    <summary><h2 id="{{comic.id}}">{{comic.name}}</h2></summary>
      {% for page in comic.pages %}
        {% if page.common %}
          <div class="single-timeline">
            <div class="page-wrapper page-common-wrapper">
              <img src="{{ page.common }}"
                   alt="{{comic.name}}; Common Version; No image description available."
                   class="lazy page page-common"
                   height="1030"
                   loading="lazy"
              >
            </div>
          </div>
        {% else %}
          <div class="page-pair">
            <div class="page-wrapper page-tumblr-wrapper">
              {% if page.tumblr %}
                <img src="{{page.tumblr}}"
                     alt="{{comic.name}}; Tumblr Version; No image description available."
                     class="lazy page page-tumblr"
                     height="1030"
                     loading="lazy"
                >
              {% endif %}
            </div>
            <div class="page-wrapper page-reddit-wrapper">
              {% if page.reddit %}
                <img src="{{page.reddit}}"
                     alt="{{comic.name}}; Reddit Version; No image description available."
                     class="lazy page page-reddit"
                     height="1030"
                     loading="lazy"
                >
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </details>
</article>
{% endfor %}
<script src="lazyload.js"></script>
<script src="anchor_expand.js"></script>
<footer>
  <h2 id="footer">Further Information</h2>
  <p>
    Comic Artist and owner of the images is MoringMark.
    Find him at
    <a href="https://bsky.app/profile/moringmark.bsky.social">BlueSky</a>,
    <a href="https://www.instagram.com/moringmarkugh/">Instagram</a>,
    <a href="https://www.reddit.com/user/makmark/">Reddit</a> and
    <a href="https://moringmark.tumblr.com">Tumblr</a>.
  </p>
  <p>
    Comics are based of the series
    <a referrerpolicy="no-referrer" href="https://www.disneyplus.com/en-gb/series/the-owl-house/4cOTrEy0YyaX">The Owl House</a> by Disney.
  </p>
  <p>
    Image hosting provided by <a href="https://moringmark.tumblr.com">Tumblr</a> and
    <a href="https://moringmark.grzegorzkoperwas.site/">HakierGrzonzo</a>.
  </p>
  <p>
    Maintaining of this page is done by <a href="https://github.com/niborus">niborus</a>.
    The source code for this page can be found at <a href="https://github.com/niborus/luzifer-au">GitHub</a>.
  </p>
</footer>
</body>
</html>
