body {
    margin-left: 0;
    margin-right: 0;
}

.page-reddit, .page-tumblr {
    border-left: 1em solid;
    max-width: 100%;
}

.page-pair {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.page-reddit-wrapper, .page-tumblr-wrapper {
    padding-right: 1em;
}

h2 {
    display: inline;
    margin: 0;
}

summary {
    margin: 1em;
}

@media only screen and (min-width: 800px) {
    .page-pair {
        flex-wrap: nowrap;
    }
    .page-reddit-wrapper, .page-tumblr-wrapper {
        width: 50%;
    }
}

.page-reddit {
    border-left-color: darkorange;
}

.page-tumblr {
    border-left-color: darkblue;
}

.page-common {
    max-width: 100%;
}
