body {
    margin-left: 0;
    margin-right: 0;
}

#toc-end-item {
    list-style-type: disc;
    margin-top: .3em;
}

.page {
    border-left: 1em solid;
    max-width: 100%;
}

.page-pair {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.page-wrapper {
    padding-right: 1em;
}

h2 {
    display: inline;
    margin: 0;
}

summary {
    margin: 1em;
}

@media only screen and (min-width: 800px) {
    .page-pair {
        flex-wrap: nowrap;
    }
    .page-wrapper {
        width: 50%;
    }
}

.page-reddit {
    border-left-color: darkorange;
}

.page-tumblr {
    border-left-color: darkblue;
}

.page-common {
    /* This creates a striped border effect. */
    border-left: solid .5em;
    box-shadow: -.5em 0 darkblue;
    margin-left: .5em;
    border-left-color: darkorange;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131516;
        color: #e8e6e3;
    }
    .page-common { box-shadow: -.5em 0 lightskyblue }
    .page-tumblr { border-left-color: lightskyblue }
    a:link { color: lightskyblue; }
    a:visited { color: #ba94e7; }
    a:hover { color: #ffffff; }
    a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
}

header, footer { margin: 1em; }
