<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styling.css">
    <title>Luzifer - Side by Side</title>
</head>
<body>
<header>
    <h1>Luzifer - Side by Side</h1>
    <section id="toc">
        <h2>Table of Contents</h2>
        <ol>
            {% for comic in comics %}
            <li><a href="#{{comic.id}}">{{comic.name}}</a></li>
            {% endfor %}
        </ol>
    </section>
</header>
{% for comic in comics %}
<article>
  <details>
    <summary><h2 id="{{comic.id}}">{{comic.name}}</h2></summary>
      {% for page in comic.pages %}
        {% if page.common %}
          <div class="single-timeline">
            <div class="page-wrapper page-common-wrapper">
              <img src="{{ page.common }}"
                   alt="{{comic.name}}; Common Version; No image description available."
                   class="lazy page page-common"
                   height="1030"
                   loading="lazy"
              >
            </div>
          </div>
        {% else %}
          <div class="page-pair">
            <div class="page-wrapper page-tumblr-wrapper">
              {% if page.tumblr %}
                <img src="{{page.tumblr}}"
                     alt="{{comic.name}}; Tumblr Version; No image description available."
                     class="lazy page page-tumblr"
                     height="1030"
                     loading="lazy"
                >
              {% endif %}
            </div>
            <div class="page-wrapper page-reddit-wrapper">
              {% if page.reddit %}
                <img src="{{page.reddit}}"
                     alt="{{comic.name}}; Reddit Version; No image description available."
                     class="lazy page page-reddit"
                     height="1030"
                     loading="lazy"
                >
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </details>
</article>
{% endfor %}
<script src="lazyload.js"></script>
</body>
</html>
